<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913222101002-7cfar3i2tdeuku6fkn3rs43ccsi2rct5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913222101002-7cfar3i2tdeuku6fkn3rs43ccsi2rct5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>913222101002-0q4lb17tugpktg61j5mq1g6ild3a3uqq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBQ0dT2vVevclSTtkgZ99mPOG-IZcAcsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>913222101002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NomoSiOS.Crewl</string>
	<key>PROJECT_ID</key>
	<string>crewl-ac6d9</string>
	<key>STORAGE_BUCKET</key>
	<string>crewl-ac6d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913222101002:ios:8db912b31dd4e5c7a1d7f3</string>
	<key>DATABASE_URL</key>
	<string>https://crewl-ac6d9-default-rtdb.firebaseio.com</string>
</dict>
</plist>